/deepspace_ss_2025/macos-aarch64
/deepspace_ss_2025/windows-amd64
/deepspace_ss_2025/*.zip
/deepspace_ss_2025/libraries/video
/deepspace_ss_2025/libraries/oscP5
/deepspace_ss_2025/libraries/peasycam

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store